body {
  background-color: #5296AF; }

.points-container {
  text-align: center;
  color: white;
  font-size: 30px; }
  .points-container div:nth-child(1) {
    display: inline-block;
    padding-left: 10px;
    width: 300px;
    text-align: left; }
    .points-container div:nth-child(1) span {
      background-color: #5BC0DE;
      padding-top: 3px;
      padding-bottom: 3px; }
  .points-container div:nth-child(2) {
    display: inline-block;
    padding-right: 10px;
    width: 300px;
    text-align: right; }

.tiles-container {
  display: inline-block;
  width: 600px; }

.tile-box {
  display: inline-block;
  border-left: 3px solid #5296AF;
  border-top: 3px solid #5296AF;
  border-radius: 20px;
  text-align: center;
  line-height: 146px;
  background-color: white; }
  .tile-box div {
    width: 146px;
    height: 146px;
    cursor: pointer; }
  .tile-box .fa {
    font-size: 650%;
    vertical-align: middle; }

.tile-box:nth-child(4n) {
  border-right: 3px solid #5296AF; }

.tile-box:nth-child(n+13) {
  border-bottom: 3px solid #5296AF; }

.icons-default {
  color: white; }

.icons-default::selection {
  color: white;
  background: white; }

.icons-checked i {
  color: #5296AF; }

.icon-shown.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

.icon-shown.ng-enter.ng-enter-active {
  opacity: 1; }

/* new css propeties */
.margin-top {
  margin-top: 10px; }

.modal {
  display: flex;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  align-items: center;
  justify-content: center; }

.modal-body {
  box-sizing: border-box;
  position: fixed;
  background-color: #F0F8FF;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 180px;
  height: 180px;
  padding-top: 45px; }
